################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/.vs/CM_lab2/v16
/CM_lab2/Debug
/CM_lab2/Release
/Release
/CM_lab2/~$_Otchet_lab2kk.docx
/CM_lab2/~$_otchet_lab2.docx
/CM_lab2/~$xsin10000x.xlsx
/CM_lab2/~$x4.xlsx
/CM_lab2/~$x3.xlsx
/CM_lab2/~$x2.xlsx
/CM_lab2/~$x.xlsx
/CM_lab2/~$sinx.xlsx
